{{!-- Chat --}}
<div id="right">
<h1>Comuníquese con nosotros</h1>
    <form onsubmit="return addMsn()">
      <input type="text" placeholder="nombre" id="nb" required="true"/>
      <input type="text" placeholder="msn" id="msn" required="true"/>
      <input type="submit" value="Enviar" />
    </form>

    <div id="caja"></div>
</div>