<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body{
      font-family: 'Roboto', 'light 300';
      font-weight:bold;
      color: #d6d5d4;
      text-align: left;
      background-color: #363535;
      margin-bottom: 39px;
      margin-left: 100px;
      position: "relative"
      }
      #right{
        align: right;
        position: relative;
        background:rgb(59, 56, 56);
        margin-bottom: 39px;
      }
      #center{
        align: right;
        position: relative;
        background:rgb(202, 0, 0);
        margin-bottom: 39px;
      }
    </style>
    <title>Desafio 6</title>
</head>
<body>
    {{{body}}}
</body>
</html>